{% extends 'base.html' %}

{% block title %}
    CodeNista Reset Password
{% endblock title %}

{% block body %}
<div class='container mt-5 mb-5'>

    <div class="row" style="margin-top:10%">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <h4 class="center" style="color:#5c6acb"> Forgot Your Password ? </h4>
        </div>
        <div class="col-sm">
        </div>
    </div>

    <div class="container" style="margin-top:8%">
        <div class="row">
            <div class="col-sm-3"></div>

            <div class="col-sm-6">
                <form method='post' action='/resetpwdaction/' >
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="font-weight-bold" for="email">Email Address</label>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter Your Email" required>
                    </div>
                    <button type="submit" class="btn btn-info">Reset Password</button>
                </form>
            </div>

            <div class="col-sm-3"></div>
        </div>
    </div>
</div>


{% endblock body %}
