<!-- footer -->
{% comment %} <footer id="footer"> {% endcomment %}
    {% comment %} <div class="container"> {% endcomment %}
      {% comment %} <div class="copyright"> {% endcomment %}
        {% comment %} &copy; Copyright <strong><span>CodeNista</span></strong>. All Rights Reserved {% endcomment %}
      {% comment %} </div> {% endcomment %}
      {% comment %} <div class="credits"> {% endcomment %}
        {% comment %} Designed by <a href="/about">CodeNistaTeam</a> {% endcomment %}
      {% comment %} </div> {% endcomment %}
    {% comment %} </div> {% endcomment %}
{% comment %} </footer> {% endcomment %}

{% comment %} <div> {% endcomment %}
    {% comment %} <footer class="footer bg-dark"> {% endcomment %}
      {% comment %} <div class="container"> {% endcomment %}
        {% comment %} <span class="text-muted">Place sticky footer content here.</span> {% endcomment %}
      {% comment %} </div> {% endcomment %}
    {% comment %} </footer> {% endcomment %}
{% comment %} </div>  {% endcomment %}

{% comment %} <footer class="footer bg-dark mb-0" style="display:block; absolute; bottom:0; width:100%; height:60px; background-color:blue; line-height:60px"> {% endcomment %}
  {% comment %} <div class="container"> {% endcomment %}
    {% comment %} <span class="text-muted">Place sticky footer content here.</span> {% endcomment %}
  {% comment %} </div> {% endcomment %}
{% comment %} </footer> {% endcomment %}

<style>
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
      height: 30px;
    }
</style>
    
<div class="footer" style="background-color:#073839">
    <h10 style='color: cornsilk;'>© 2020 Copyright:</h10>
    <a href="/">CodeNista.com</a>
</div>
    